body {
  width: 780px;
  height: 550px;
  overflow: hidden;
}
ul.menu li {
  cursor: pointer;
}
#commonSites, #searchSites, table {
  width: 764px;
}
tr {
   line-height: 25px;
   min-height: 25px;
   height: 25px;
}
 table { table-layout: fixed; font-size: 10px;}
 table th, table td { overflow: hidden; }